@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800;900&family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] { display: none !important; }

@layer components {
    body {
        @apply font-urbanist antialiased text-gray-800
    }

    .content-container {
        @apply container max-w-screen-xl px-5 md:px-20 mx-auto
    }

    .section {
        @apply content-container py-20 mt-20
    }

    .section-title {
        @apply font-bold text-4xl md:text-5xl leading-snug md:leading-tight mb-6
    }

    .section-description {
        @apply text-gray-700 leading-relaxed md:text-lg
    }

    .stat-value {
        @apply font-bold text-4xl md:text-6xl text-center mb-2 leading-tight
    }

    .hero {
        @apply content-container py-20 md:py-28
    }

    .hero-title {
        @apply  font-bold text-4xl md:text-5xl leading-snug md:leading-tight text-center md:text-left mb-6
    }

    .hero-description {
        @apply text-gray-800 leading-relaxed max-w-md mx-auto md:mx-0 text-center md:text-left md:text-lg
    }

    h1 {
        @apply font-bold text-4xl md:text-6xl leading-snug md:leading-snug mb-8
    }

    /* h2 {
        @apply font-bold text-4xl md:text-5xl leading-snug md:leading-tight mb-6
    } */

    p {
        @apply text-gray-700 leading-relaxed
    }

    .btn-primary {
        @apply bg-secondary hover:bg-opacity-80 flex items-center justify-center font-bold text-gray-800 rounded-lg
    }

    .btn-secondary {
        @apply w-52 h-12 ring-1 ring-secondary hover:bg-secondary flex items-center justify-center font-bold text-secondary hover:text-white rounded-lg
    }

    .form-label {
        @apply block font-semibold mb-1
    }

    .form-input {
        @apply px-4 py-2 rounded-lg border border-gray-200 focus:border-tiber-300 focus:ring-1 focus:ring-tiber-300 focus:outline-none
    }

    .menu {
        @apply max-h-0 lg:max-h-max overflow-hidden;
        transition: max-height 0.3s ease-in-out
    }

    .lang {
        @apply max-h-0 overflow-hidden;
        transition: max-height 0.3s ease-in-out
    }

    /* For Webkit-based browsers (Chrome, Safari and Opera) */
    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    /* For IE, Edge and Firefox */
    .scrollbar-hide {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}
